<?php
// Your username
$user = 'kdy';

// Links on the top-right part of the pages
$customLinks = array(
  'AniList Profile' => 'https://anilist.co/user/' . $user .'/',
  'aniSched' => '/aniSched/'
);

// Prefix for cover URLs with thumbor/imagor (with trailing slash)
//$imgPrefixBase = 'https://thumbor.your-domain.com/';
// And the hash (otherwise, it will use `unsafe`)
//$imgPrefixSecret = 'myS3cre7';
