<?php
// Your username
$user = 'kdy';

// Links on the top-right part of the pages
$customLinks = array(
  'AniList Profile' => 'https://anilist.co/user/' . $user .'/',
  'aniSched' => '/aniSched/'
);
