<?php
// Your username
$user = 'kdy';

// Links on the top-right part of the pages
$customLinks = array(
  'AniList Profile' => 'https://anilist.co/user/' . $user .'/',
  'aniSched' => '/aniSched/'
);

// Prefix for cover URLs (ie. for thumbor and caching)
// $prefixImg = 'https://thumbor.your-domain.com/unsafe/150x210/';
$prefixImg = '';
